@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color:#0a192f;
 
}

nav {
  background-color:#0a192f;
  color: #64ffda;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  padding-top: 60px;
}

@media screen and (max-width: 1000px) {
  .intro {
    padding-top: 0px;
  }
}

#me {
  width: 400px;
  opacity: 75%;
   transition: opacity 300ms ease-in-out;
}

.bio {
  width: 300px;
  opacity: 60%;
  transition: opacity 300ms ease-in-out;
  
}

@media screen and (max-width: 1000px) {
  .bio {
    opacity: 85%;
  }
}

.bio:hover {
  opacity: 90%;
}


nav.down {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.6s, transform 1.6s;
}



li {
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.6s, transform 1.6s;
}

li.fade-in-down {
  opacity: 1;
  transform: translateY(0);
}


.imgcontainer {
  margin-left: 100px;
}

#tipster {
  width: 600px;
  height: 320px;
   transition: opacity 300ms ease-in-out;
}

#expanded{
  width: 100%;
  height: 800px;
   transition: opacity 300ms ease-in-out;
   padding-bottom: 15px;
}

@media screen and (max-width: 1000px) {
  #tipster {
    width: 500px;
    height: 250px;
  }
}

#tech {
   transform: translateY(3rem);
  transition: opacity 0.6s, transform 1.6s;
}

#tech.fade-in-down {
  opacity: 1;
  transform: translateY(0);
}

#projects {
  margin-bottom: 100px !important;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.projecthr {
  transform: translateX(-2rem);
  transition: opacity 0.6s, transform 1.6s;
}

.fade-in-left {
 animation: fadeInLeft 0.5s forwards;
}

@keyframes fadeInLeftNav {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left-nav {
 animation: fadeInLeftNav 0.5s forwards;
}


.footer {
  margin-bottom: 15px;
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-top {
 animation: fadeInTop 1s forwards;
}


@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-bottom {
  animation: fadeInBottom 1s forwards;
}


#top {
   position: absolute;
  margin-bottom: 20px;
   right: 50px;
  display: flex;
 
}


@media screen and (max-width: 1000px) {
  #top {
    display: none;
    pointer-events: none;
  }
}

